.game-cell {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8.5rem;
    font-weight: 500;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.game-cell.is-x {
    color: #2cccff;
}
.game-cell.is-o {
    color: #ff6651;
}
