.App {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .game {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--theme-nav-background-color);

        &__title {
            font-size: 6rem;
            font-weight: 700;
            color: var(--theme-main-color);
            padding: 2rem;
            border: 0.5rem solid var(--theme-sub-background-color);
        }
    }
}
