@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap");

:root {
    --theme-background-color: #040f0f;
    --theme-nav-background-color: #2d3a3a;
    --theme-sub-background-color: #2ba84a;
    --theme-main-color: #248232;
    --theme-sub-text-color: #fcfffc;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--theme-background-color);
    height: 100%;
}

#root {
    height: 100%;
}
